@import '../abstracts/lists';

/* About us */
#about-us {
    .logo-about-us {
        display: block;
        margin: nth($margin, 1);
        height: 100%;
        width: 30%;
    }
}
/* End About us */






