/* Section - Cart */
.btn-shopping-cart {
    #button-shopping-cart {
        border: none;
        color: #123380;
        font-size: 25px;
        background-color: white;
        border-radius: 50%;
        padding: 10px 20px;
        transition: all .3s;
        &:hover {
            cursor: pointer;
            color: white;
            background-color: royalblue;
        }
        &:focus {
            outline: none;
        }
    }
}

.container-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    .modal-shopping-cart {
        position: relative;
        background-color: white;
        min-width: 500px;
        padding: 20px;
        margin-top: -100%;
        transition: all .5s;
        overflow-y: scroll;
        max-height: 70%;
        h3 {
            color: #123380;
            padding-bottom: 5px;
            font-weight: bold;
        }
        #close-shopping-cart {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 20px;
            color: #123380;
            border: none;
            background-color: white;
            &:focus {
                outline: none;
            }
            &:hover {
                cursor: pointer;
            }
        }
        #container-shopping-cart {
            .productInShoppingCart {
                border-left: 5px solid lightblue;
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
                margin: 5px 0;
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                &:hover {
                    border-left: 5px solid #123380;
                }
            }
            .product-title-modal {
                font-size: 15px;
                margin: auto 0;
                width: 45%;
            }
            .price-modal {
                font-size: 15px;
                margin: auto 0;
            }
            .delete-button {
                background-color: white;
                color: red;
                border: none;
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .product-price {
            font-weight: 700;
            font-size: 15px;
            padding: 1% 0;
        }
        .button-modal {
            display: flex;
            justify-content: space-evenly;
            .add-button {
                background-color: #123380;
                color: white;
                font-size: 18px;
                font-weight: 700;
                padding: 8px;
                border: none;
                border-radius: 45px;
                &:hover {
                    cursor: pointer;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
    .modal-shopping-cart {
        margin-top: 0;
    }
}

// div::-webkit-scrollbar {
// 	width: 7px;
// }

// div::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
//     background-color: #aa66cc;
// }

div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

div::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    background-color: #1927ad;
	// background-image: -webkit-gradient(linear,
	// 								   left bottom,
	// 								   left top,
	// 								   color-stop(0.44, rgb(122,153,217)),
	// 								   color-stop(0.72, rgb(73,125,189)),
	// 								   color-stop(0.86, rgb(28,58,148)));
}

/* End Section - Cart */