@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../abstracts/lists';
@import '../layout/extends';

/* Section - Contacts */
#contacts {
    .container-contacts {
        background: rgb(229 242 255);
        @include flexbox($display, $flex-wrap, $flex-direction, nth($justify-content, 2));
        margin-top: 2%;
        .img-contacts {
            position: relative;
            width: 50%;
            height: 100%;
            img {
                height: 100%;
                width: 100%;
            }
            h2 {
                color: rgb(255 92 23);
                position: absolute;
                top: 1%;
                height: 100%;
                width: 100%;
                display: block;
            }
        }
        .container-form {
            display: flex;
            align-items: center;
            .contacts-form {
                align-items: center;
                display: flex;
                flex-direction: column;
                .form-group {
                    width: 100%;
                    margin: nth($margin, 4);
                    .icon-form {
                        position: absolute;
                        margin: 12px 10px;
                        height:25px; 
                        width:25px;
                    }
                    input[type=text] {
                        font-family: $font-family;
                        font-size: nth($font-size ,6);
                        @include input($border, $border-radius, $box-sizing, $line-height, $padding, $width-input);
                        padding-left: 15%;
                    }
                    input[type=email] {
                        font-family: $font-family;
                        font-size: nth($font-size ,6);
                        @include input($border, $border-radius, $box-sizing, $line-height, $padding, $width-input);
                        padding-left: 15%;
                    }
                    input[type=tel] {
                        font-family: $font-family;
                        font-size: nth($font-size ,6);
                        @include input($border, $border-radius, $box-sizing, $line-height, $padding, $width-input);
                        padding-left: 15%;
                    }
                    textarea {
                        font-family: $font-family;
                        font-size: nth($font-size ,6);
                        @include input($border, $border-radius, $box-sizing, $line-height, $padding, $width-input);
                        padding-left: 15%;
                    }           
                }
                @extend %message;
                button[type=submit] { 
                    @extend %submit;
                    &:hover {
                        background-color:  #23489e; 
                    }
                }   
            }
        }
    }
}
/* End Section - Contacts */