@import '../abstracts/lists';

/* Media query */
/* Mobile */
@media only screen and (max-width: 480px) {
    // .container-footer {
    //     justify-content: unset;
    // }

    h1,h2 {
        font-size: xxx-large;
    }

    .contacts {
        justify-content: center;
    }

    .card {
        margin: nth($margin, 4);
    }

    iframe {
        height: 100%;
        width: 100%;
        margin: 2%;
    }

    .tarriff {
        .contacts-form {
            #area-code, #addresses, #delivery-number {
                width: 80%;
            }
        }
        .paragraph {
            margin: nth($margin, 3);
        }
    }

    #contacts {
        .container-contacts {
            .img-contacts {
                height: 100%;
                width: 100%;
                h2 {
                    font-size: nth($font-size ,5);
                }
            }
            .contacts-form {
                margin: nth($margin, 3);
            }
        }
    }    


    footer {
        .container-footer {
            width: 100%;
            text-align: center;
            justify-content: center;
            .item-footer {
                margin: nth($margin, 1);
                .paragraph-footer {
                    font-size: 1.5rem;
                    margin: nth($margin, 2);
                }
            }
        }        
    }

    .paragraph-shipping, .paragraph-see-more {
        margin: nth($margin, 3);
    }
}
/* End Mobile */

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 1078px) {
    h1, h2 {
        font-size: xxx-large;
    }

    .contacts {
        justify-content: center;
    }

    .card {
        margin: nth($margin, 4);
        width: 100%;
    }

    iframe {
        height: 100%;
        width: 100%;
        margin: 2%;
    }

    footer {
        .container-footer {
            background-color: green;
            justify-content: unset;
            .item-footer {
                margin: nth($margin, 1);
            }            
            nav {
                justify-content: center; 
            }        
        }        
    }
}
/* End Tablet */
/* End Media query */